
$back-color: crimson
$fiusha: #e230ad
$greenlight: #9fdfc1
$black: #19191a


body
	background: $greenlight

hr
	background: $black
	color: $black
	border-width: 5px

	
.positon
	color: red
	font-size: 45px
	font-weight: 600

.fiusha
	color: $fiusha
